{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <h2>Login</h2>
                <form action="" method="POST">
                    {{  form_login.csrf_token }}
                    <div class="form-group">
                        <label>Nome</label>
                        {{ form_login.username(class="form-control", placeholder="nome de usuário") }}
                        {% if form_login.errors.username %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for e in form_login.errors.username %}
                                    <li>{{ e }}</li>
                                {%  endfor %}
                            </ul>
                        </div>
                        {%  endif %}
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        {{ form_login.password(class="form-control", placeholder="senha válida") }}
                        {% if form_login.errors.password %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for e in form_login.errors.password %}
                                    <li>{{ e }}</li>
                                {%  endfor %}
                            </ul>
                        </div>
                        {%  endif %}
                    </div>
                    <div class="form-group">
                        <label>
                            {{ form_login.remember }} lembrar-me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Acessar</button>
                </form>
            </div>
    </div>
{% endblock %}