{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}
<main role="main">

        <div class="jumbotron">
          <h1 class="display-3">Meu primeiro projeto com bootstrap</h1>
          <p class="lead">Vai lendo, é só um teste</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Vai ter um login aqui</a></p>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h4>Título bem grande</h4>
            <p>descrição bem pequena.</p>

            <h4>Outro título bem grande</h4>
            <p>outra descrição bem pequena.</p>

            <h4>Lá vem outro título bem grande</h4>
            <p>e mais uma descrição bem pequena.</p>
          </div>

          <div class="col-lg-6">
            <h4>Vamos escrever mais um título?</h4>
            <p>Que tal você continuar lendo?</p>

            <h4>Ainda não desistiu?</h4>
            <p>melhor parar por aqui, ein?</p>

            <h4>Vitorioso</h4>
            <p>pena que não encontrou nada.</p>
          </div>
        </div>

      </main>
{% endblock  %}
